Control statement

In [ ]:
k=range(3,10)

In [ ]:
k

range(3, 10)

In [ ]:
for var in k:
  print(var)

10
12
14
16
18

In [ ]:
k=range(10,20,2)
for var in k:
  print(var)

10
12
14
16
18

In [ ]:
k=range(7)
for var in k:
  print(var)

0
1
2
3
4
5
6

Control statement -1)If

In [ ]:
age=int(input("Enter the age"))
if age>18:
  print("You can vote")
print("Hello")

Enter the age45
You can vote
Hello

In [ ]:
age=int(input("Enter the age"))
if age>18:
  print("You can vote")
  print("Hello")

Enter the age5

In [ ]:
age=int(input("Enter the age"))
if age>18:
  print("You can vote")
  print("Your age is greater than 18")

print("The day is awesome")

Enter the age41
You can vote
Your age is greater than 18
The day is awesome

In [ ]:
age=int(input("Enter the age"))
if age>18:
  print("You can vote")
  print("Your age is greater than 18")

print("Day is awesome")

Enter the age2
Day is awesome

If-Else

In [ ]:
age=int(input("Enter the age"))
if age>18:
  print("You can vote")
else:
  print("You can't Vote")

Enter the age5
You can't Vote

In [ ]:
height=float(input("Enter the Height"))
if height<4:
  print("Short")
elif height<5:
  print("Average")
else:
  print("Tall")

Enter the Height5
Tall

In [ ]:
name =input("Enter name ")
print(f"Hello,{name}")   #f-string in python

Enter name Rutuja
Hello,Rutuja

In [ ]:
name =input("Enter name ")
print(f" Hello,{name}.")

Enter name Rutuja
 Hello,Rutuja.

In [ ]:
ht=float(input("Enter the Height "))
if height<4:
  print(f" Height Entered is {ht}. Short")
elif height<5:
  print(f" Height Entered is {ht}. Average")
else:
  print(f" Height Entered is {ht}. Tall")

Enter the Height 4.5
 Height Entered is 4.5. Average

For Loop-
used to repeat a block of instructions/statements mutiple numbers of times(most common use case for beginneers)

it is used to iterate over a sequence of items as well (list,sets,tuple,string)

In [ ]:
str_1="HELLO"

In [ ]:
for char in str_1:
  print(char)

H
E
L
L
O

In [ ]:
for anything in str_1:
  print(anything)

H
E
L
L
O

In [ ]:
for anything in str_1:
  print(anything, end="")

HELLO

In [ ]:
k=range(10,20,2)
for var in k:
  print(var)

10
12
14
16
18

In [ ]:
k=range(10,20,2)
for anything in k:
  print(anything)

10
12
14
16
18

In [ ]:
k=range(10,20,2)
for num in k:
  print(num)

10
12
14
16
18

In [ ]:
k=range(10,20)
for num in k:
  print(num)

10
11
12
13
14
15
16
17
18
19

In [ ]:
k=range(10,20,3)
for num in k:
  print(num)

10
13
16
19

In [ ]:
k=range(10)
for num in k:
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#[start , end ,step length]

In [ ]:
for num in range(100,150,10):
  print(num)

100
110
120
130
140

In [ ]:
for char in "Hey there!":
  print(char)

H
e
y

t
h
e
r
e
!

In [ ]:
for char in "Hey there!":
  print(char, end=" ")

H e y   t h e r e !

In [ ]:
for char in "Hey there!":
  print(char, end="")

Hey there!

In [ ]:
for i in range (3):
  for j in range (3):
    print(i,j)
    print("***")

0 0
***
0 1
***
0 2
***
1 0
***
1 1
***
1 2
***
2 0
***
2 1
***
2 2
***

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for j in range(3):
  print(j)
  print("Hello!")

0
Hello!
1
Hello!
2
Hello!

In [ ]:
for j in range(3):
  print(j)
print("Hello!")

0
1
2
Hello!

In [ ]:
for j in range(3):
  print(j)
  print(j+1)
  print("Hello!")

0
1
Hello!
1
2
Hello!
2
3
Hello!

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)
    print("***")

0 0
***
0 1
***
0 2
***
1 0
***
1 1
***
1 2
***
2 0
***
2 1
***
2 2
***

In [ ]:
a=3
while(a>0):
  print(a)
  a=a-1

3
2
1

In [ ]:
a=3
b=2
c=a-b
print(c)

1

In [ ]:
a=a-1
print(a)

2

In [ ]:
5>400 and 44<40

False

In [ ]:
5<2 and 4>56

False

In [ ]:
a=10
while(a>0):
  a=a-1
  print("Hello")
  if(a<5 and a>1):
    continue
  print(a)

Hello
9
Hello
8
Hello
7
Hello
6
Hello
5
Hello
Hello
Hello
Hello
1
Hello
0

In [ ]:
a=8
while(a>0):
  a-=1
  if(a<5 and a>1):
    break
  print(a)
print("Done")

7
6
5
Done

In [ ]:
a=8
while(a>0):
  a-=1
  if(a<5 and a>1):
    break
    print(a)
print("Done")

Done

In [ ]:
for i in range(5):
  if i==3:
    break
    print(i)