In [ ]:
add=lambda a,b : a+b

In [ ]:
n1=int(input("Enter n1"))
n2=int(input("Enter n2"))

Enter n15
Enter n26

In [ ]:
add(n1,n2)

11

In [ ]:
type(add)

function

In [ ]:
print(add(3,4))

7

In [ ]:
print(add(5,9))

14

In [ ]:
result=add(9,56)
print(result)

65

In [ ]:
square=lambda x:x**2
square(4)

16

In [ ]:
num=int(input("Enter a num"))

Enter a num4

In [ ]:
square(num)

16

In [ ]:
max_num= lambda a,b : a if a>b else b
Maximum_number= max_num(5,8)
print(Maximum_number)

8

In [ ]:
#Sets ,tuples , dictionaries , List all are iterable

**Filter Function** - Python's filter() is a built-in function that allows you to process an iterable and extract those items that satisfy a given condition.

In [ ]:
a = [12, 23, 32,21,54,56,76,78,89,80,43,57,75,35,53]

In [ ]:
def even(x):
  if x%2==0:
    return x

In [ ]:
b=tuple(filter(even,a))

In [ ]:
b

(12, 32, 54, 56, 76, 78, 80)

In [ ]:
c=list(filter(even,a))

In [ ]:
print(c)

[12, 32, 54, 56, 76, 78, 80]

In [ ]:
d=set(filter(even,a))

In [ ]:
print(d)

{32, 12, 76, 78, 80, 54, 56}

In [ ]:
# filter() : using lambda function
a = [12, 23, 32,21,54,56,76,78,89,80,43,57,75,35,53]

b = list(filter(lambda x : x % 2 ==0 , a))
b

[12, 32, 54, 56, 76, 78, 80]

In [ ]:
#filter using lambda function but without typecasting

a = [12, 23, 32,21,54,56,76,78,89,80,43,57,75,35,53]

b = filter(lambda x : x % 2 ==0 , a)


for something in b:
  print(something)

12
32
54
56
76
78
80

In [ ]:
#WAPT create list with items according to their types

list1 = [12,23.34,-21,-45, -78.90, True, False, "abc", 34.56, "xyz"]

In [ ]:
list1_int=list(filter(lambda i: type(i)==int ,list1))

list1_int

[12, -21, -45]

In [ ]:
#Same program by using loops

for i in list1:
  if type(i)==int:
    print(i)

12
-21
-45

In [ ]:
list1_float=list(filter(lambda i: type(i)==float ,list1))

list1_float

[23.34, -78.9, 34.56]