List is probably the most used data structure in python

In [ ]:
# Python program to declare
# empty list

# list is declared
a = []

print("Values of a:", a)
print("Type of a:", type(a))
print("Size of a:", len(a))

Values of a: []
Type of a: <class 'list'>
Size of a: 0

In [ ]:
#  we will create a Python empty list using the list() constructor
# Python program to create
# empty list

# list is declared
a = list()

print("Values of a:", a)
print("Type of a:", type(a))
print("Size of a:", len(a))

Values of a: []
Type of a: <class 'list'>
Size of a: 0

In [ ]:
# create an empty list
a = []

# append items to it
a.append(10)
a.append(20)
a.append(30)

print("Values of a:", a)
print("Type of a:", type(a))
print("Size of a:", len(a))

Values of a: [10, 20, 30]
Type of a: <class 'list'>
Size of a: 3

In [ ]:
d ="abc"
print(d)
print(id(d))
d= d.replace("a","v")
print(d)
print(id(d))

abc
132547796717808
vbc
132546762356208

In [ ]:
a=[1,2,3]
print(id(a))
a[0]=11
print(id(a))

132547372773824
132547372773824

In [ ]:
L4=['i','a','e','u','o']
sorted(L4)

['a', 'e', 'i', 'o', 'u']

In [ ]:
first_list = ['Mark', 101, 23.6, 'test', 11]

In [ ]:
first_list.insert(1,"Smith")

In [ ]:
first_list

['Mark', 'Smith', 101, 23.6, 'test', 11]

In [ ]:
first_list.append('Jack')

In [ ]:
first_list

['Mark', 'Smith', 101, 23.6, 'test', 11, 'Jack']

In [ ]:
print(L4)

['i', 'a', 'e', 'u', 'o']

In [ ]:
prime_numbers=[2,3,5,7]
prime_numbers.reverse()

In [ ]:
prime_numbers

[7, 5, 3, 2]

In [ ]:
prime_numbers[0]

7

In [ ]:
prime_numbers.index(2)

3

In [ ]:
list_1=[11,22,33,44]
list_1.index(33)

2

In [ ]:
list_1[0]

11

In [ ]:
grade_list1=[]

In [ ]:
grade=15

In [ ]:
grade_list1.append(grade)
print(grade_list1)

[15]

In [ ]:
grade_list1.append(grade)
print(grade_list1)

[15, 15]

In [ ]:
grade=40

In [ ]:
#Enter grades to caculate mean/average grade type e to exist

In [ ]:
print ("Enter grades to calculate mean/average grade. type e to exit")
grades_list=[]
total=0
while True:
  grade=input("-")
  if grade=="e":
    break
  else :
      grade=float(grade)
      grades_list.append(grade)

Enter grades to calculate mean/average grade. type e to exit
-5
-5
-5
-e

In [ ]:
print (grades_list)
for grade in grades_list:
  total = total + grade
  print( "sum = ", total)

[5.0, 5.0, 5.0]
sum =  5.0
sum =  10.0
sum =  15.0

In [ ]:
average = total / len(grades_list)
print ( "Average class grade is ",average )

Average class grade is  5.0

In [ ]:
odd_numbers=[1,3,5,7]

In [ ]:
odd_numbers

[1, 3, 5, 7]

Q. Find out how many vowels are in a given sentence

In [ ]:
#w3schoolspython--tutorial
#w3resources python

In [ ]:
#Methods of list=Home work

In [ ]:
sentence = input ( "Enter a sentence : ")

vowels = ['a','e','i','o','u']
vowel_count = 0

for i in list(sentence) :
    if i in vowels :
        vowel_count=vowel_count + 1
print("Number of vowels in the sentence is : ", vowel_count)

Enter a sentence : rutujaa
Number of vowels in the sentence is :  4