In [ ]:
#map(Name_of_function , Name_of_Sequence)

In [ ]:
list3 = [-12, 9, -8, 7, 4, 14, 16, 25]
list4=list(map(lambda i:i*i ,list3))
list4

[144, 81, 64, 49, 16, 196, 256, 625]

In [ ]:
for i in list3:
  print(i*i)

144
81
64
49
16
196
256
625

In [ ]:
list3 = [-12, 9, -8, 7, 4, 14, 16, 25]
list4=list(map(lambda i:i*2 ,list3))
list4

[-24, 18, -16, 14, 8, 28, 32, 50]

In [ ]:
list3 = [-12, 9, -8, 7, 4, 14, 16, 25]
list4=list(map(lambda i:i+100 ,list3))
list4

[88, 109, 92, 107, 104, 114, 116, 125]

#**Reduce**

reduce(fun,seq)

It is used to apply a particular function passes in its arguments to all of the list elements

This function is defined in "Functools" module

In [1]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
import functools as ft

# initializing list
list_1 = [1,2,3,4,5]

# using reduce to compute sum of list
print("The sum of the list elements is: ", end="")


print(ft.reduce(lambda x, y: x+y, list_1))

The sum of the list elements is: 15

In [ ]:
import functools as ft
list_1 = [1,2,3,4,5]

addition =ft.reduce (lambda x,y:x+y , list_1)
print(addition)

15

In [ ]:
# Example 1: Find the product of the list elements using reduce()

from functools import reduce
num1=[1,2,3,4,5]
num2=reduce(lambda x,y:x*y,num1)
print (num2)#Output:120

120

In [ ]:
## Example 2:Find the largest number in the iterable using reduce()

from functools import reduce
num1=[12,15,30,4,5]

num2=reduce(lambda x,y:x if x>y else y,num1)
print (num2)

30

In [2]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
import functools as ft

# initializing list
list_1 = [1,2,3,4,5]

# using reduce to compute sum of list
print("The sum of the list elements is: ", end="")


print(ft.reduce(lambda x, y: x+y, list_1))

The sum of the list elements is: 15

In [3]:
# Example 3:Using User-defined function in reduce()

from functools import reduce
def sum1(x,y):
    return x+y
num1=[15,12,30,4,5]
num2=reduce(sum1,num1)
print (num2)#Output:66

66

In [ ]:
# Example 4: Initializer is mentioned.

# If the optional initializer is present, it is placed before the items of the iterable in the calculation.
from functools import reduce

def sum1(x,y):
   return x+y

num1=[1,2,3,4,5]

# num1=[10, 1,2,3,4,5]
num2=reduce(sum1,num1,10) #10 is initializer
print (num2)#Output:25

25

In [4]:
# Example 5:Iterable contains only one item, reduce() will return that item.

from functools import reduce
def sum1(x,y):
    return x+y
num1=[5]
num2=reduce(sum1,num1)
print (num2)#Output:5

5

In [5]:
# Example 6: If iterable is empty and the initializer is given,
# reduce() will return the initializer.

from functools import reduce
def sum1(x,y):
    return x+y
num1=[]
num2=reduce(sum1,num1,10)
print (num2)#Output:10

10

In [ ]:

from functools import reduce

def sum1(x,y):
   return x+y

num1=[5]


num2=reduce(sum1,num1)
print (num2)

5

In [ ]:
#reduce() : returns a single value of the operation

# reduce(name_of_function , name_of_sequence)
# WAP using reduce() which returns sum of all elements

import functools as ft

list1 = [1,2,3]

a1 = ft.reduce(lambda i,total = 0 : total + i , list1)
print(a1)

6