Sets are immutable...You cant change value

In [ ]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)
# The elements in a set can be objects of different types

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'o', 'e', 'u', 'a', 'i'}
Set of mixed data types: {'Hello', 101, 'Bye', -2}

###Creating an empty set

In [ ]:
# create an empty set
empty_set = set()


# create an empty dictionary
empty_dictionary = { }

# check data type of empty_set
print('Data type of empty_set:', type(empty_set))

# check data type of dictionary_set
print('Data type of empty_dictionary', type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of empty_dictionary <class 'dict'>

In [ ]:
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)

{8, 2, 4, 6}

###Accesing Element in set using loop and operator

In [ ]:
set_1 = {4, 6, 12, 11, 3, 5}

#Access element using for loop
print("\nReading elements of the set: ")

for i in set_1:
      print(i)

Reading elements of the set:
3
4
5
6
11
12

In [ ]:
#input set
set1 = {1, 2, 3, 4, 5}

x = next(iter(set1))
#prints first item
print(x)

1

##Checking the availability of element in the set using operator

In [ ]:
#input set
set1 = {"apple", "mango", "cherry", "pear", "guava"}

#check for an element
print("apple" in set1)
print("watermelon" in set1)
print("apple" not in set1)

True
False
False

In [ ]:
numbers={11,22,33,44}

In [ ]:
numbers.add(32)

In [ ]:
numbers

{11, 22, 32, 33, 44}

#Union

*The union of two sets A and B include all the elements of set A and B.*

In [1]:
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4, 3}

# perform union operation using |
print('Union using |:', A | B)
# OR

# perform union operation using union()
print('Union using union():', A.union(B))
C=A.union(B)
print("Union is", C)

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}
Union is {0, 1, 2, 3, 4, 5}

#Intersection

In [ ]:
A = {1, 3, 5}

# second set
B = {6,7,8}

c=A&B
print(type(c))
# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

<class 'set'>
Intersection using &: set()
Intersection using intersection(): set()

In [ ]:
A = {1, 3, 5,8}

# second set
B = {6,7,8}

c=A&B
print(type(c))
# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

<class 'set'>
Intersection using &: {8}
Intersection using intersection(): {8}

##Difference between Two sets

In [ ]:
# first set
A = {2, 3, 5}
# second set
B = {1, 2, 6}
# perform difference operation using &
print('Difference using &:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))
print("\n")

print("B-A", B-A )
print('Difference using difference() B-A:', B.difference(A))

print("\n")

symm_diff= A.symmetric_difference(B)
print(symm_diff)
print("\n")
symm_diff= B.symmetric_difference(A)
print(symm_diff)

Difference using &: {3, 5}
Difference using difference(): {3, 5}


B-A {1, 6}
Difference using difference() B-A: {1, 6}


{1, 3, 5, 6}


{1, 3, 5, 6}

In [ ]:
arbitary means randomly

###Add Items

In [ ]:
numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

# using add() method
numbers.add(32)
# Add an element

print('Updated Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}

In [ ]:
# Updating the elements in a set using list
companies = {'Lacoste', 'Ralph Lauren'}   #set
tech_companies = ['apple', 'google', 'apple'] # list

companies.update(tech_companies)

print(companies)

{'apple', 'google', 'Lacoste', 'Ralph Lauren'}

Remove an element from a set

In [ ]:
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')
print("Removed value is:", removedValue)

print('Set after discard:', languages)

Initial Set: {'Swift', 'Java', 'Python'}
Removed value is: None
Set after discard: {'Swift', 'Python'}

In [ ]:
languages.remove('Python')