**A tuple in Python is a collection of ordered and unchangeable items of the same or mixed data types stored in a single variable.**

Creating a tuple

In [ ]:
# creating a tuple
mytuple = ("apple", "banana", "cherry")

print("Tuple 1: ", mytuple)
print(type(mytuple), '\n')

tuple2 = (511, "ID", 1.23, 'M')
print("Tuple 2: ", tuple2)
print(type(tuple2))

Tuple 1:  ('apple', 'banana', 'cherry')
<class 'tuple'>

Tuple 2:  (511, 'ID', 1.23, 'M')
<class 'tuple'>

#Creating tuple with single item

In [ ]:
# creating a tuple
mytuple1 = (8)

print(mytuple1)
print(type(mytuple1))

8
<class 'int'>

In [ ]:
# creating a tuple
mytuple = ("apple")

print(mytuple)
print(type(mytuple))

apple
<class 'str'>

In [ ]:
#The code above returns a string data type (<class 'str'>), not a tuple. We check the data type of the mytuple using the type() function.

#The reason why our code does not return a tuple is that Python does not recognize the code mytuple = ("apple") as a tuple but rather as an str.

In [ ]:
# creating a tuple single item by adding a comma after the item
mytuple = ("apple",)

print(mytuple)
print(type(mytuple))

('apple',)
<class 'tuple'>

In [ ]:
tuple_1 = 10,
print(tuple_1)
print (type(tuple_1))

(10,)
<class 'tuple'>

In [ ]:
tuple_1

(10,)

Tuple with one element

In [ ]:
single_tuple_error = (10)
print(single_tuple_error)
# 10

print(type(single_tuple_error))
# <class 'int'>

10
<class 'int'>

In [ ]:
##To create a tuple with one element, a comma , is required at the end.

In [ ]:
single_tuple = (10, )
print(single_tuple)
# (10,)

print(type(single_tuple))
# <class 'tuple'>

(10,)
<class 'tuple'>

*To access an element, even if there is only one element in the tuple, you can use the index notation [ ].*

In [ ]:
print(single_tuple[0])
# 10

10

In [ ]:
# For example, when concatenating multiple tuples using the + operator, be aware that an error will be raised if you attempt to add a single element without a comma ,.

In [ ]:
# print((0, 1, 2) + (3))
# TypeError: can only concatenate tuple (not "int") to tuple

print((0, 1, 2) + (3, ))
# (0, 1, 2, 3)

(0, 1, 2, 3)

In [ ]:
t = 0, 1, 2
print(t)
# (0, 1, 2)

print(type(t))
# <class 'tuple'>

(0, 1, 2)
<class 'tuple'>

Note that if there is an unnecessary comma , after the object, it will be treated as a tuple.

In [ ]:
t = 0,
print(t)
# (0,)

print(type(t))
# <class 'tuple'>

(0,)
<class 'tuple'>

In [ ]:
t = 0
print(t)


print(type(t))
# <class 'int'>

0
<class 'int'>

#### Empty tuple

As mentioned above, parentheses () can be omitted to represent a tuple but are required when creating an empty tuple.

SyntaxError is raised if there is only a space or a comma ,.

In [ ]:
empty_tuple = ()
print(empty_tuple)
# ()

print(type(empty_tuple))
# <class 'tuple'>

# empty_tuple_error =
# SyntaxError: invalid syntax

# empty_tuple_error = ,
# SyntaxError: invalid syntax

# empty_tuple_error = (,)
# SyntaxError: invalid syntax

()
<class 'tuple'>

An empty tuple can also be created by calling tuple() without any arguments.

In [ ]:
empty_tuple = tuple()
print(empty_tuple)
# ()

print(type(empty_tuple))
# <class 'tuple'>

()
<class 'tuple'>

##### Tuples in function arguments

In [ ]:
def example(a, b):
    print(a, type(a))
    print(b, type(b))

example(0, 1)
# 0 <class 'int'>
# 1 <class 'int'>



example((0, 1), 2)
# (0, 1) <class 'tuple'>
# 2 <class 'int'>

0 <class 'int'>
1 <class 'int'>
(0, 1) <class 'tuple'>
2 <class 'int'>

In [ ]:
example(*(0, 1))

0 <class 'int'>
1 <class 'int'>

In [ ]:
mytuple = ("apple", "banana", "cherry")

Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 =('Hello', 7)

In [ ]:
empty_tuple = tuple()

In [ ]:
t1=tuple((4,5,6))
type(t1)
# t1= (4,5,6)

tuple

In [ ]:
thistuple = tuple("apple", "banana", "cherry") # note the double round-brackets
print(thistuple)
print(type(thistuple))

TypeError: ignored

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(type(thistuple))
thistuple[0]

('apple', 'banana', 'cherry')
<class 'tuple'>

'apple'

In [ ]:
thistuple = ("apple", "banana", "cherry")
print("apple" in thistuple)

True

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
# Tuples are immutable
x = ("apple", "banana", "cherry")
print(id(x))
print(type(x))
y = list(x)
print(type(y))
print(y)
y[1] = "kiwi"
print('y list is', y)
x = tuple(y)

print(x)
print(id(x))

140185460860032
<class 'tuple'>
<class 'list'>
['apple', 'banana', 'cherry']
y list is ['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')
140185734559424

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple +y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
tuple_1=(11,12,13)
type(tuple_1)

tuple

In [ ]:
list_1= [(11,22),(54,65)]

In [ ]:
len(list_1)

2

In [ ]:
for i in list_1:
  print(i, type(i))

(11, 22) <class 'tuple'>
(54, 65) <class 'tuple'>

In [ ]:
grades1={103:3.6,
         104:5,
         105:3,
         106:4.5}
print(sorted(grades1.keys()))

[103, 104, 105, 106]

In [ ]:
#Sort & Sorted Difference

In [ ]:
sciece_grades.update(art_grades)
science_grades
art_grades

In [ ]:
#Delete
#clear- Removing all elements from the dictionary
#pop-removes and returns value associated with that